@import "tailwindcss";
@plugin "daisyui";


/* Adicione seus estilos customizados abaixo, se necessário */

.card-proximo{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: aliceblue;
}
